<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Signup</h1>
  <p>Already have an account ? <a href="/login">sign in</a></p>
  <form action="/signup" method="POST">
    <input type="email" name="email" placeholder="email">
    <br>
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <button type="submit">Login</button>
  </form>
</body>
</html>
