div {
  margin: 50px;
  height: 180px;
  width: 180px;
  background-color: deepskyblue;
  border: solid black 2px;
  box-shadow: 10px 10px 5px grey;
  transition: 1s;
}

div:hover {
  transform: translate(-20px, -20px);
  box-shadow: 30px 30px 15px grey;
  /* transition: 1s; */
}

div:active {
  transform: translate(5px, 5px);
  box-shadow: 5px 5px 2px grey;
  transition: 0.2s;
}
